nostr-relay
nostr-relay.sqlite
litestream.yaml
.nostr-relay.sqlite-litestream
kustomize/
kustomize*
nostr-relay.sqlite-shm
nostr-relay.sqlite-wal
scripts/
*.sh
*.json
*.diff
*.*-wal
*.tmp
*.tmp-shm
*.patch
bk/
tool/
